doctype html
html
  head
    title nodeNotas
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #contenido
        #header
            h2 nodeNotas3000
            #panel
                a Crear nota
                a Ver notas
                span Búsqueda
                input(type="text" id="buscar")
        block content
    #footer
        &copy; Iván Félix Álvarez, Ismael Jerez y Thomas Zhenkel.
        span 2013-2014. IISS.
    script(src='/javascripts/jquery-2.1.0.js')
    script(src='/javascripts/functionality.js')
